<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datamodel.mapper.ActionTypeMapper">

    <select id="selectByTargetObjectTypeId" resultType="com.example.datamodel.entity.ActionType">
        SELECT *
        FROM action_types
        WHERE target_object_type_id = #{targetObjectTypeId}
        ORDER BY created_at ASC
    </select>

</mapper>

