<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.datamodel.mapper.InterfaceImplementationMapper">

    <select id="selectObjectTypeIdsByInterfaceId" resultType="java.util.UUID">
        SELECT object_type_id
        FROM interface_implementations
        WHERE interface_id = #{interfaceId}
    </select>

    <select id="selectInterfaceIdsByObjectTypeId" resultType="java.util.UUID">
        SELECT interface_id
        FROM interface_implementations
        WHERE object_type_id = #{objectTypeId}
    </select>

</mapper>

